.search-box{
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: linear-gradient(
        to left,
        rgba(7, 27, 82, 1) 0%,
        rgba(0, 128, 128, 1) 100%
    );
}

.search-input{
    padding: 1rem;
    border: green;
    background-color: #a2dfff;
}